body {
    background-color: #FFEEAA;
    color: #404040;
}

a {
    color: #036;
    text-decoration: underline;
}
a:link {
    color: #036;
    text-decoration: underline;
}
a:visited {
    color: #012;
    text-decoration: underline;
}
a:active,a:hover {
    color: #888;
}

/* header */
header {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #FF5511;
    color: #F8F8F8;
    border-bottom: 1px solid #BBB;
}

h1 {
    margin-top: 0;
    margin-left: 4px;
}

h1 a {
    text-decoration: none;
}

/* main */
div.main {
    margin-top: 4px;
}

/* Entry */

article.entry {
    margin-bottom: 20px;
}

article.following-entry {
    border-top: 2px solid;
    margin-bottom: 20px;
}


article.entry h2 a {
    text-decoration: none;
}

article.entry > time {
    display: block;
    padding-right: 2px;
    text-align: right;
    font-family: serif;
    font-size: medium;
    font-weight: bold;
}

blockquote {
    background-color: #f8f8f8;
}

div.entry-text {
    border-top: 1px dotted;    
    margin-top: 2px;
}

div.body, div.extend {
    line-height: 1.889;
    padding: 2px 4px;
    clear: both;
}

.tags, .posted {
    clear: both;
    margin-top: 4px;
    text-align: right;
}

a.tag {
    margin-left: 6px;
    background-color: #fbdb6c;
    padding: 1px 3px 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    border-top: none;
    border-right: 1px solid #c89d06;
    border-bottom: 1px solid #c89d06;
    border-left: none;
}

a.tag:hover {
    color: #eee;
    background-color: #c89d06;
}

div.entry-text img {
    margin: 0 8px 2px 0;
    border: 0;
    float: left;
}

/* comment */
article.comment {
    border-top: 1px solid;
    margin-bottom: 6px;
}

.comment-title {
    border-bottom: 1px dotted;
}

.comment-title a {
    text-decoration: none;
}

#posting {
    margin-left: 4px;
}

#preview {
    padding: 4px;
}

form#comment-form {
    margin-top: 20px;
}

#all-tags span.cell {
    margin-bottom: 6px;
}

/* sub contents */
aside.side {
    margin-top: 4px;
    background-color: #FFAA66;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

aside.side a:active, aside.side a:hover {
    color: #012;
    background-color: #F8F8F8;
}

.sub-block {
    margin-top: 4px;
    padding: 6px;
}

.sub-block .title {
    text-align: center;
    text-transform: capitalize;
    font-size: 10pt;
    font-weight: bolder;
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
}

#calendar {
    text-align: center;
}

table.month {
    width: 96%;
}

aside.side li {
    line-height: 1.8em;
}

aside.side li a {
    text-decoration: none;
    display: block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#archives li a {
    text-decoration: none;
    display: inline;
}
