<div class="subBlock">
  <div class="title">Archives</div>
  <div id="archives">
{% if sub_archive %}
    <ul>
  {% for a_year, a_months in sub_archive|dictsort %}
      <li>{{ a_year }}:
    {% for a_month in a_months %}
        <a href="{{ blog_path }}/month/{{ a_year }}-{{ a_month.month }}/"
           title="{{ a_year }}-{{ a_month.month }} ({{
                  a_month.month_count }})">{{ a_month.month }}</a>
    {% endfor %}
      </li>
  {% endfor %}
    </ul>
{% else %}
    <span>No Archives yet.</span>
{% endif %}
  </div>
</div>
