{% extends "base.html" %}

{% block title %}: {{ g.entry.title }}{% endblock %}

{% block contents %}
<script>mow.vars.entry_id = {{ g.entry.id }};</script>
<article class="entry">
  <hgroup>
    <h2>
      <a href="{{ url_for('entry_page', entry_id = g.entry.id) }}">
        {{ g.entry.title }}
      </a>
    </h2>
    {% if g.entry.subtitle %}<h3>{{ g.entry.subtitle }}</h3>{% endif %}
  </hgroup>
  <time datetime="{{ g.entry.posted_at|iso8601 }}" pubdate>
    {{ g.entry.posted_at|mdy }}
  </time>
  <div class="entry-text">
    <div class="body">{{ g.entry.body|nl2br }}</div>
    {% if g.entry.extend %}
    <div class="extend">{{ g.entry.extend|nl2br }}</div>
    {% endif %}
  </div>
  <nav class="tags">
    {% for tag in g.entry.tags %}
    <a href="{{ url_for('tag_page', label = tag.label) }}"
       class="tag" rel="tag">
      <span class="glyphicon glyphicon-tag"></span> {{ tag.label }}
    </a>
    {% endfor %}
  </nav>
  <div class="posted">
    Posted at {{ g.entry.posted_at|hm }} by {{ g.entry.author.name }}
    <a href="{{ url_for('entry_page', entry_id = g.entry.id) }}#comments">
      Comments : {{ g.entry.n_comments }}
    </a>
  </div>

  {% include "include/pager_for_entry.html" %}

  <div id="comments">
    {% if g.entry.n_comments %}
    {% for comment in g.entry.comments %}
    {% include "include/comment.html" %}
    {% endfor %}
    {% endif %}
  </div>
  {% include "include/comment_form.html" %}
</article>
{% endblock %}
