{% extends "base.html" %}

{% block title %}: {{ g.entry.title }}{% endblock %}

{% block contents %}
<script>mow.vars.entry_id = {{ g.entry.id }};</script>
<article class="entry">
  <hgroup>
    <h2>
      <a href="{{ url_for('entry_page', entry_id = g.entry.id) }}">
        {{ g.entry.title }}
      </a>
    </h2>
    {% if g.entry.subtitle %}<h3>{{ g.entry.subtitle }}</h3>{% endif %}
  </hgroup>
  <time datetime="{{ g.entry.posted_at|iso8601 }}" pubdate>
    {{ g.entry.posted_at|mdy }}
  </time>
  <div class="entry-text">
    <div class="body">{{ g.entry.body|nl2br }}</div>
    {% if g.entry.extend %}
    <div class="extend">{{ g.entry.extend|nl2br }}</div>
    {% endif %}
  </div>
  <nav class="tags">
    {% for tag in g.entry.tags %}
    <a href="{{ url_for('tag_page', label = tag.label) }}"
       class="tag" rel="tag">
      <span class="glyphicon glyphicon-tag"></span> {{ tag.label }}
    </a>
    {% endfor %}
  </nav>
  <div class="posted">
    Posted at {{ g.entry.posted_at|hm }} by {{ g.entry.author.name }}
    <a href="{{ url_for('entry_page', entry_id = g.entry.id) }}#comments">
      Comments : {{ g.entry.n_comments }}
    </a>
  </div>

  <nav class="paging row">
    <span class="col-sm-4 text-left">
      {% if g.entry.previous_entry %}
      <a href="{{ url_for('entry_page', entry_id = g.entry.previous_entry.id) }}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{ g.entry.previous_entry.title }}
      </a>
      {% else %}
      &nbsp;
      {% endif %}
    </span>
    <span class="col-sm-4 text-center">
      <a href="{{ url_for('top_page') }}">
        <span class="glyphicon glyphicon-home"></span> Main</a>
    </span>
    <span class="col-sm-4 text-right">
      {% if g.entry.next_entry %}
      <a href="{{ url_for('entry_page', entry_id = g.entry.next_entry.id) }}">
        {{ g.entry.next_entry.title }}
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      {% else %}
      &nbsp;
      {% endif %}
    </span>
  </nav>

  <div id="comments">
    {% if g.entry.n_comments %}
    {% for comment in g.entry.comments %}
    <article class="comment" id="c{{ comment.id }}">
      <div class="comment-title">
        <a name="c{{ comment.id }}">{{ comment.title }}</a>
      </div>
      <div class="body">{{ comment.body|urlize|target_blank|nl2br }}</div>
      <div class="posted">
        Posted at
        <time datetime="{{ comment.posted_at|iso8601 }}" pubdate>
          {{ comment.posted_at|mdy }} {{ comment.posted_at|hm }}
        </time>
        by {{ comment.author_name }}
      </div>
    </article>
    {% endfor %}
    {% endif %}
  </div>
  {% include "include/comment_form.html" %}
</article>
{% endblock %}
