<nav class="paging row">
  <span class="col-sm-6 text-left">
    {% if g.has_older %}
    <a href="{{ url_for('month_page', 
                        year = g.posted_in.year, month = g.posted_in.month,
                        page = g.page + 1) }}">
      <span class="glyphicon glyphicon-chevron-left"></span> older
    </a>
    {% else %}
    &nbsp;
    {% endif %}
  </span>
  <span class="col-sm-6 text-right">
    {% if g.has_newer %}
    <a href="{{ url_for('month_page', 
                        year = g.posted_in.year, month = g.posted_in.month,
                        page = g.page - 1) }}">
      newer <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    {% else %}
    &nbsp;
    {% endif %}
  </span>
</nav>
