<div class="sub-block">
  <div class="title">Search</div>
  <div>
    <form class="form" role="form" id="search"
           action="http://www.google.com/search" method="GET">
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" id="keyword"
               name="q" placeholder="Google search">
      </div>
      <input type="hidden" name="ie" value="UTF-8" />
    </form>
  </div>
</div>
