{% extends "base.html" %}

{% block title
%} : {{ entry.title }}{% if entry.subtitle %} - {{ entry.subtitle }}{% endif %}{%
endblock %}

{% block canonical %}{{ entry.eid }}{% endblock %}

{% block main_contents %}
<article class="entry">
  <hgroup>
    <h2><a href="{{ blog_root }}/{{ entry.eid }}">{{ entry.title }}</a></h2>
{% if entry.subtitle %}
    <h3>{{ entry.subtitle }}</h3>
{% endif %}
  </hgroup>
  <time datetime="{{ entry.published_at.strftime('%Y-%m-%dT%H:%M:%S+00:00') }}"
        pubdate>{{ entry.pub_month_str() }} {{ entry.day }}, {{ entry.year }}</time>

  <div class="entryBody">
    <div class="body">{{ entry.body }}</div>
{% if entry.extend %}
    <div class="extend">{{ entry.extend }}</div>
{% endif %}
  </div>
  <nav class="tags">
{% for tag in entry.tags %}
    <a href="{{ blog_root }}/tag/{{ tag.urlencoded }}/" class="tag">
      <i class="icon-tag"></i> {{ tag.name }}
    </a>
{% endfor %}
  </nav>
  <div class="posted">
    Posted at {{ "%02d"|format(entry.hour) }}:{{ "%02d"|format(entry.minute) }}
    by {{ author }}
  </div>

  <nav class="paging row">
    <span class="older span4">
{% if entry.prev %}
      <a href="./{{ entry.prev.eid }}">
        <i class="icon-chevron-left"></i> {{ entry.prev.title }}
      </a>
{% else %}
      &nbsp;
{% endif %}
    </span>

    <a class="span1" href="./"><i class="icon-home"></i> Main</a>

    <span class="newer span4">
{% if entry.next %}
      <a href="./{{ entry.next.eid }}">
        {{ entry.next.title }} <i class="icon-chevron-right"></i>
      </a>
{% else %}
      &nbsp;
{% endif %}
    </span>
  </nav>

  <div id="comments">
{% for comment in entry.comments %}
    <article class="comment" id="c{{ comment.cid }}">
      <div class="commentTitle">
        <a name="c{{ comment.cid }}">{{ comment.title }}</a>
      </div>
      <div class="body">{{ comment.body }}</div>
      <div class="posted">
        Posted at
        <time datetime="{{ comment.posted_at.strftime('%Y-%m-%dT%H:%M:%S+00:00') }}"
              pubdate>
          {{ comment.posted_month_str() }} {{ comment.day }}, {{ comment.year }}
          {{ "%02d"|format(comment.hour) }}:{{ "%02d"|format(comment.minute) }}
        </time>
        by {{ comment.author }}
      </div>
    </article>
{% endfor %}
  </div>
  
  <div class="commentForm">
    <form id="comm_form" method="post" class="form-horizontal">
      <fieldset id="comm_field">
        <legend>Leave your comment</legend>
        <noscript>
          <div class="req">Please turn JavaScript on to leave your comment.</div>
        </noscript>
        <div class="control-group">
          <label for="comm_author" class="control-label">Name</label>
          <div class="controls">
            <input type="text" id="comm_author" name="comm_author" required
                   class="span5"/>
          </div>
        </div>
        <div class="control-group">
          <label for="comm_title" class="control-label">Title</label>
          <div class="controls">
            <input type="text" name="comm_title" id="comm_title" class="span5" />
          </div>
        </div>
        <div class="control-group">
          <label for="comm_body" class="control-label">Comment</label>
          <div class="controls">
            <textarea rows="8" id="comm_body" name="comm_body" required
                      class="span5" placeholder="required"></textarea>
          </div>
        </div>
        <div id="comm_actions" class="form-actions"></div>
      </fieldset>
    </form>
  </div>
</article>
{% endblock %}
