{% extends "admin/base.html" %}

{% block title %}{{': editing %s' % g.comment.title if g.comment }}{% endblock %}

{% block contents %}
<ul class="nav nav-tabs">
  <li><a href="{{ url_for('admin_top_page') }}">admin top</a></li>
  <li><a href="{{ url_for('entry_posting_page') }}">post</a></li>
  <li><a href="{{ url_for('entry_editing_page') }}">entry</a></li>
  <li class="active"><a href="#edit" data-toggle="tab">comment</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="edit">
    <p>
      {% include "admin/include/load_comment_form.html" %}
    </p>

    {% if g.comment %}
    <hr />
    <p>
      {% include "admin/include/edit_comment_form.html" %}
    </p>
    <hr />
    <p>
      {% include "admin/include/delete_comment_form.html" %}
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
