{% extends "admin/base.html" %}

{% block contents %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#stats" data-toggle="tab">admin top</a></li>
  <li><a href="{{ url_for('entry_posting_page') }}">post</a></li>
  <li>
    <a href="{{ url_for('entry_editing_page') }}">entry</a>
  </li>
  <li><a href="{{ url_for('comment_editing_page') }}">comment</a></li>
</ul>

<div class="tab-content">
  <div class="active tab-pane" id="stats">
    <p>
      {% include "admin/include/stats.html" %}
    </p>
  </div>
</div>
{% endblock %}
