{% extends "base.html" %}

{% block title %} manage : edit entry{% endblock %}

{% block main_contents %}
<ul class="nav nav-pills">
  <li><a href="{{ blog_root }}/manage/index">index</a></li>
  <li><a href="{{ blog_root }}/manage/post">post</a></li>
  <li class="active"><a href="{{ blog_root }}/manage/entry">entry</a></li>
  <li><a href="{{ blog_root }}/manage/comment">comment</a></li>
  <li><a href="{{ blog_root }}/manage/tag">tag</a></li>
</ul>

<h3>entry</h3>

<form class="form-horizontal">
  <div class="control-group">
    <label for="eid" class="control-label">eid</label>
    <div class="controls">
      <input type="text" id="eid" class="span6"
{% if entry %}
             value="{{ entry.eid }}"
{% endif %}
             />
      <input type="button" class="btn-primary" value="Load"
             onclick="MOW.loadEntry()" />
    </div>
  </div>
  <div class="control-group">
    <label for="ymd" class="control-label">date</label>
    <div class="controls">
{% if entry %}
      <input type="text" id="ymd" class="span6"
             value="{{ entry.year }}-{{
                    '%02d'|format(entry.month) }}-{{
                    '%02d'|format(entry.day) }}" />
      <input type="button" class="btn" value="Save"
             onclick="MOW.updateEntry('ymd')" />
{% else %}
      <input type="text" id="ymd" class="span6" disabled="disabled" />
      <input type="button" class="btn" disabled="disabled" value="Save" />
{% endif %}
    </div>
  </div>
  <div class="control-group">
    <label for="time" class="control-label">time</label>
    <div class="controls">
{% if entry %}
      <input type="text" id="hm" class="span6"
             value="{{ '%02d'|format(entry.hour) }}:{{
                    '%02d'|format(entry.minute) }}" />
      <input type="button" class="btn" value="Save"
             onclick="MOW.updateEntry('hm')" />
{% else %}
      <input type="text" id="hm" class="span6" disabled="disabled" />
      <input type="button" class="btn" disabled="disabled" value="Save" />
{% endif %}
    </div>
  </div>
  <div class="control-group">
    <label for="ymdhm" class="control-label">ymdhm</label>
    <div class="controls">
{% if entry %}
      <input type="text" id="ymdhm" class="span6" value="{{ entry.iymdhm }}" />
      <input type="button" class="btn" value="Save"
             onclick="MOW.updateEntry('ymdhm')" />
{% else %}
      <input type="text" id="ymdhm" class="span6" disabled="disabled" />
      <input type="button" class="btn" disabled="disabled" value="Save" />
{% endif %}
    </div>
  </div>
  <div class="control-group">
    <label for="title" class="control-label">title</label>
    <div class="controls">
{% if entry %}
      <input type="text" id="title" class="span6" value="{{ entry.title }}" />
      <input type="button" class="btn" value="Save"
             onclick="MOW.updateEntry('title')" />
{% else %}
      <input type="text" id="title" class="span6" disabled="disabled" />
      <input type="button" class="btn" disabled="disabled" value="Save" />
{% endif %}
    </div>
  </div>
  <div class="control-group">
    <label for="tags" class="control-label">tags</label>
    <div class="controls">
{% if entry %}
      <input type="text" id="tags" class="span6"
             value="{% for tag in entry.tags %}{{ tag.name }}, {% endfor %}" />
      <input type="button" class="btn" value="Save"
             onclick="MOW.updateTags('tags')" />
{% else %}
      <input type="text" id="tags" class="span6" disabled="disabled" />
      <input type="button" class="btn" disabled="disabled" value="Save" />
{% endif %}
    </div>
  </div>
  <div class="control-group">
    <label for="body" class="control-label">body</label>
    <div class="controls">
{% if entry %}
      <textarea rows="20" id="body" class="span6">{{ entry.body }}</textarea>
      <input type="button" class="btn" value="Save"
             onclick="MOW.updateEntry('body')" />
{% else %}
      <textarea rows="20" id="body" class="span6" disabled="disabled"
                ></textarea>
      <input type="button" class="btn" disabled="disabled" value="Save" />
{% endif %}
    </div>
  </div>
  <div class="control-group">
    <label for="extend" class="control-label">extend</label>
    <div class="controls">
{% if entry %}
      <textarea rows="20" id="extend" class="span6"
                >{{ entry.extend }}</textarea>
      <input type="button" class="btn" value="Save"
             onclick="MOW.updateEntry('extend')" />
{% else %}
      <textarea rows="20" id="extend" class="span6" disabled="disabled"
                ></textarea>
      <input type="button" class="btn" disabled="disabled" value="Save" />
{% endif %}
    </div>
  </div>
</form>
<div class="form-actions">
{% if entry %}
  <form class="form-horizontal" action="{{ blog_root}}/manage/delete_entry"
        method="POST" onsubmit="return MOW.confirmToDelete('entry');">
    <input type="hidden" name="eid" value="{{ entry.eid }}" />
    <input type="submit" value="delete this entry" class="btn-danger" />
  </form>
{% else %}
  <input type="submit" value="delete this entry" class="btn-danger"
         disabled="disabled" />
{% endif %}
</div>
{% endblock %}

{% block manage_js %}
    <script src="{{ blog_path }}/js/mowman.js"></script>
{% endblock %}
