{% extends "base.html" %}

{% block title %} manage : index{% endblock %}

{% block main_contents %}
<ul class="nav nav-pills">
  <li class="active"><a href="{{ blog_root }}/manage/index">index</a></li>
  <li><a href="{{ blog_root }}/manage/post">post</a></li>
  <li><a href="{{ blog_root }}/manage/entry">entry</a></li>
  <li><a href="{{ blog_root }}/manage/comment">comment</a></li>
  <li><a href="{{ blog_root }}/manage/tag">tag</a></li>
</ul>

<h3>config</h3>
<ul>
  <li> author : {{ author }}</li>
  <li> blog_title : {{ blog_title }}</li>
  <li> introduction : {{ introduction }}</li>
  <li> lang : {{ lang }}</li>
  <li> main_len : {{ main_len }}</li>
  <li> sub_len : {{ sub_len }}</li>
  <li> ping_servers :
{% for ping_server in ping_servers %}
    {{ ping_server }},
{% endfor %}
  </li>
</ul>

<h3>stats of database</h3>
<ul>
  <li>db_path: {{ db_path }}</li>
  <li>last updated: {% if db_updated %}{{ db_updated }}{% else %}N/A{% endif %}</li>
  <li>size: {{ "%3.2lf"|format(db_size) }} MB</li>
</ul>

<h3>Stats of cache</h3>
<ul>
  <li>Directory: {{ cache_dir }}</li>
  <li>Size: {{ "%3.2lf"|format(cache_size) }} MB</li>
  <li>Files: {{ cache_counts }}</li>
</ul>
{% endblock %}



