{% extends "base.html" %}

{% block title %} manage : change tag name{% endblock %}

{% block main_contents %}
<ul class="nav nav-pills">
  <li><a href="{{ blog_root }}/manage/index">index</a></li>
  <li><a href="{{ blog_root }}/manage/post">post</a></li>
  <li><a href="{{ blog_root }}/manage/entry">entry</a></li>
  <li><a href="{{ blog_root }}/manage/comment">comment</a></li>
  <li class="active"><a href="{{ blog_root }}/manage/tag">tag</a></li>
</ul>

<h3>tag</h3>

<form class="form-horizontal" method="POST" action="{{ blog_root }}/manage/tag">
  <fieldset>
    <div class="control-group">
      <label for="cid" class="control-label">original name</label>
      <div class="controls">
        <select name="org" class="span6">
{% for tag in tags %}
          <option value="{{ tag.urlencoded }}">{{ tag.name }}</option>
{% endfor %}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="eid" class="control-label">new name</label>
      <div class="controls">
        <input id="dst" name="dst" type="text" class="span6" />
      </div>
    </div>
    <div class="form-actions">
      <input id="submit" type="submit" value="Change" class="btn-primary" />
    </div>
  </fieldset>
</form>
{% endblock %}

{% block manage_js %}
    <script src="{{ blog_path }}/js/mowman.js"></script>
{% endblock %}
